---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/payments/payment/PAY-46W38094FH7689133KPXSBHQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-paypal-sandbox-email-address:
      - Platform.sdk.seller@gmail.com
      authorization:
      - Bearer A0158NkWeZqhii19TzUWq0ytZc8kR-DLww5-uPp5Ekp1NVo
      content-type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      proxy_server_info:
      - host=slcsbplatformapiserv3001.slc.paypal.com;threadId=424785
      paypal-debug-id:
      - 7d8538dcbee1a
      server_info:
      - paymentsplatformserv:v1.payments.payment&CalThreadId=251032&TopLevelTxnStartTime=14b14c50b78&Host=slcsbpaymentsplatformserv3002.slc.paypal.com&pid=12904
      content-language:
      - "*"
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"INVALID_RESOURCE_ID","message":"The requested resource ID
        was not found","information_link":"https://developer.paypal.com/webapps/developer/docs/api/#INVALID_RESOURCE_ID","debug_id":"7d8538dcbee1a"}'
  recorded_at: Fri, 23 Jan 2015 03:10:33 GMT
recorded_with: VCR 2.9.2
