---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetEndpointAttributes&Attributes.entry.1.key=Enabled&Attributes.entry.1.value=true&Attributes.entry.2.key=CustomUserData&Attributes.entry.2.value=device_id%3A3%20updated_at%3A%202015-12-10%2011%3A52%3A45%20%2B0800&EndpointArn=aa7af4d79acb37b16ebfbcdb3739d553&Timestamp=2015-12-10T03%3A52%3A45Z&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151210T035245Z
      X-Amz-Content-Sha256:
      - 72bac7f86fc00967bea50e449647a38e6cb8fcc15d58ede617c7519fb55be09b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151210/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=b4ec3a6af346a8d51241e4214e124c53b291652bc4f89ba4d79b70c756a78720
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - b9cc8138-878c-5b82-87be-cfda7ec1731d
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>b9cc8138-878c-5b82-87be-cfda7ec1731d</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 10 Dec 2015 03:52:45 GMT
[...]
