- admin_title t('notifications.sidebar_name')
- breadcrumb :new_admin_notification

= react_component 'CPA.Notification.Form', {showUrl: request.original_fullpath, apiUrl: new_admin_notification_path}