---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/language/translate/v2/detect?key=AIzaSyBmnFKaDXyZaqTuZZSjJUEyquLoH5A45A4&q=font_text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - '"EE5OZ5hJ64piJEN9XPgWH2C03FA/cxSzK1Oo3AaxNplS_P7O2mZVFik"'
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
         "data": {
          "detections": [
           [
            {
             "language": "en",
             "isReliable": false,
             "confidence": 0.026090343
            }
           ]
          ]
         }
        }
  recorded_at: Mon, 12 Jan 2015 08:15:44 GMT
- request:
    method: get
    uri: https://www.googleapis.com/language/translate/v2/detect?key=AIzaSyBmnFKaDXyZaqTuZZSjJUEyquLoH5A45A4&q=font_text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - '"EE5OZ5hJ64piJEN9XPgWH2C03FA/cxSzK1Oo3AaxNplS_P7O2mZVFik"'
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
         "data": {
          "detections": [
           [
            {
             "language": "en",
             "isReliable": false,
             "confidence": 0.026090343
            }
           ]
          ]
         }
        }
  recorded_at: Mon, 12 Jan 2015 08:15:44 GMT
recorded_with: VCR 2.9.2
