---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/language/translate/v2/detect?key=AIzaSyBmnFKaDXyZaqTuZZSjJUEyquLoH5A45A4&q=font_text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - '"js_TIevJ8ZHtq2c3dBKTJ97XTuk/M9NKS34rAENGiyB0mLmOb8wAjx0"'
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "data": {
          "detections": [
           [
            {
             "language": "en",
             "isReliable": false,
             "confidence": 0.017736992
            }
           ]
          ]
         }
        }
  recorded_at: Thu, 21 Aug 2014 15:06:18 GMT
- request:
    method: get
    uri: https://www.googleapis.com/language/translate/v2/detect?key=AIzaSyBmnFKaDXyZaqTuZZSjJUEyquLoH5A45A4&q=font_text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - '"js_TIevJ8ZHtq2c3dBKTJ97XTuk/M9NKS34rAENGiyB0mLmOb8wAjx0"'
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "data": {
          "detections": [
           [
            {
             "language": "en",
             "isReliable": false,
             "confidence": 0.017736992
            }
           ]
          ]
         }
        }
  recorded_at: Thu, 21 Aug 2014 15:06:18 GMT
recorded_with: VCR 2.9.2
