---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/language/translate/v2/detect?key=AIzaSyBmnFKaDXyZaqTuZZSjJUEyquLoH5A45A4&q=font_text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - '"s40sebXX8WF3p_JMG6Ss9zWsUwc/-ItbT858fkdpe1H92h2l0E-1K_M"'
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
         "data": {
          "detections": [
           [
            {
             "language": "en",
             "isReliable": false,
             "confidence": 0.017537376
            }
           ]
          ]
         }
        }
  recorded_at: Wed, 15 Oct 2014 11:07:49 GMT
recorded_with: VCR 2.9.2
