- payment_method = activity.extra_info[:payment_method]
- order = activity.trackable
- translated_payment_method = t("activerecord.attributes.order.payment_#{payment_method}")
div 使用 #{logcraft_keyword translated_payment_method} 完成了 #{link_to_admin_order(order)} 的付款.
