---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/payments/payment/123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-paypal-sandbox-email-address:
      - Platform.sdk.seller@gmail.com
      authorization:
      - Bearer A101.rjrBK-flM3yo8sqF2nl9oHCc7SwRfBuLjUwbLyrhM8eBhujXuVJwMXYISUFUKHjM.5KJHTQlLdUxOjcfY2OrRVOszQ6q
      content-type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      proxy_server_info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=411
      paypal-debug-id:
      - e9f492ea4f273
      - e9f492ea4f273
      correlation-id:
      - e9f492ea4f273
      content-language:
      - "*"
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"INVALID_RESOURCE_ID","message":"The requested resource ID
        was not found","information_link":"https://developer.paypal.com/webapps/developer/docs/api/#INVALID_RESOURCE_ID","debug_id":"e9f492ea4f273"}'
  recorded_at: Thu, 12 Nov 2015 11:01:39 GMT
recorded_with: VCR 2.9.2
