---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/x-www-form-urlencoded; charset=utf-8
      x-amz-date:
      - 20151209T031040Z
      x-amz-content-sha256:
      - 8e06c4e2d7108d0ddf066b4aaa1b198da2efe77a151238d10e5e50ff5c65c979
      authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151209/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=4344eda78b7bb628c090340a9d86d716665824721acb3ec8a9ca22340e23fb41
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      x-amzn-requestid:
      - c39b18bf-3f41-529b-bec5-565ea2b18469
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>c39b18bf-3f41-529b-bec5-565ea2b18469</RequestId>
        </ErrorResponse>
  recorded_at: Wed, 09 Dec 2015 03:10:41 GMT
recorded_with: VCR 2.9.3
