= address_info.class.name
br
| Name：
= address_info.name
br
| Email：
= address_info.email
br
| Address：
= address_info.address
br
| City：
= address_info.city
br
| State：
= address_info.state
br
| Zip code：
= address_info.zip_code
br
| Country：
= address_info.country
br
| Mobile：
= address_info.phone