---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetEndpointAttributes&Attributes.entry.1.key=Enabled&Attributes.entry.1.value=true&Attributes.entry.2.key=CustomUserData&Attributes.entry.2.value=device_id%3A6%20updated_at%3A%202015-12-10%2011%3A52%3A46%20%2B0800&EndpointArn=82eecf18b7378a47648990608e5a5aca&Timestamp=2015-12-10T03%3A52%3A46Z&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151210T035246Z
      X-Amz-Content-Sha256:
      - da0b6f314221f0388b8910809761dae18d814ed754c34e0bce41c368e3fafb6b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151210/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=ad24fba6b2c3579bbc6e117091aeb271049ed56ab122348ca36dea28ca629850
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - 894c2cce-6cba-5299-99b7-622c95f48c25
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>894c2cce-6cba-5299-99b7-622c95f48c25</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 10 Dec 2015 03:52:46 GMT
[...]
