.faq-page {
  section {
    margin: 30px 15px;
  }
  h1 {
    font-size: 1.2em;
    color: $sub-words-color;
    * {
      color: $sub-words-color;
    }
  }
  h2 {
    font-size: 1.2em;
    line-height: 1.2em;
    color: #000;
    margin-bottom: 15px;
    * {
      color: #000;
    }
  }
  .content {
    color: $word-color;
    margin-bottom: 15px;
    line-height: 1.5em;
  }
  ul {
    padding-left: 20px;
  }
  li {
    list-style: disc;
  }
}