.terms-page {
  line-height: 1.2;
}

.terms-page {
  p, h1 {
    margin: 1em 0;
  }
}

.terms-page-title {
  color: $li-word-color;
}

.terms-page-list li {
  list-style: disc;
  margin: 1em 0 1em 2em;
}
