---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetEndpointAttributes&Attributes.entry.1.key=Enabled&Attributes.entry.1.value=true&Attributes.entry.2.key=CustomUserData&Attributes.entry.2.value=device_id%3A5%20updated_at%3A%202015-12-10%2011%3A52%3A45%20%2B0800&EndpointArn=0c0f62915f3602b573b4c9be70ced140&Timestamp=2015-12-10T03%3A52%3A45Z&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151210T035245Z
      X-Amz-Content-Sha256:
      - ca9ff15398a3a6185c0c89886a4dbf8fa70e7cbf2349df28cae3d1e2ff0bda95
      Authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151210/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=321a55ffa14f00b0a2c61f32ea78f5b7b0c0d6846ccad20203e36f32f89416a9
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - 8e5668ea-8655-5016-8e9f-26087f18fab0
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>8e5668ea-8655-5016-8e9f-26087f18fab0</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 10 Dec 2015 03:52:45 GMT
[...]
