.bgmen-kv-text {
  background-color: #f6f7f2;
  height: 40px;
  line-height: 40px;
  color: #455055;
  font-family: 'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight: 600;
  text-align: center;
}

.bgmen-video-title {
  margin-bottom: 60px;
}

.bgmen-event-block-pc {
  margin-top: 20px;
}
.bgmen-pc-2nd-title {
  margin-top: 4px !important;
  margin-bottom: 45px;
}

.bgmen-pc-3nd-title {
  margin-top: 52px;
  margin-bottom: 28px;
}

.bgmen-pc-qrcode {
  margin-bottom: 63px;
}

.bgmen-pc-4nd-title {
  margin-top: 71px !important;
  margin-bottom: 25px;
}

.bgmen-pc-line-title {
  text-decoration: none;
  margin-top: 25px !important;
  margin-bottom: 30px !important;
}

.bgmen-pc-line-bg {
  background-color: #f6f7f2;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.bgmen-pc-last-placeholder {
  height: 85px;
}

.bgmen-pc-line-pic-link {
  text-decoration: none;
}
