.camera360-page {
  padding: 0 15px;
  font-size: 14px;
}

.camera360-gift-label {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 16px;
}

.camera360-gift-name {
  color: #4fbd92;
  margin-bottom: 30px;
}

.camera360-gift-desc {
  margin-bottom: 30px;
}

.camera360-gift-mode {
  margin-bottom: 30px;
  line-height: 26px;
}

.camera360-download {
  margin: 0 auto;
  width: 100%;
  margin-bottom: -2px;
}
