---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetEndpointAttributes&Attributes.entry.1.key=Enabled&Attributes.entry.1.value=true&Attributes.entry.2.key=CustomUserData&Attributes.entry.2.value=device_id%3A1%20updated_at%3A%202015-12-10%2011%3A36%3A18%20%2B0800&EndpointArn=83a7482b9cf648ef9e5a8d187cb27056&Timestamp=2015-12-10T03%3A36%3A18Z&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151210T033618Z
      X-Amz-Content-Sha256:
      - b1272b221e800a3f47ee67ca938be2aa9d9217690cf066bb4592cda3a5cc598b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151210/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=e56f00148a2e356faf263faf6d47172162c97d5ab329325dc84d394e82409ff6
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - 6f4627ed-3ab5-5964-ba7d-690fcfc66e34
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>6f4627ed-3ab5-5964-ba7d-690fcfc66e34</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 10 Dec 2015 03:36:19 GMT
[...]
