---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetEndpointAttributes&Attributes.entry.1.key=Enabled&Attributes.entry.1.value=true&Attributes.entry.2.key=CustomUserData&Attributes.entry.2.value=device_id%3A2%20updated_at%3A%202015-12-10%2011%3A36%3A19%20%2B0800&EndpointArn=aca3ef0ac459284bb789597a8b2eee02&Timestamp=2015-12-10T03%3A36%3A19Z&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151210T033619Z
      X-Amz-Content-Sha256:
      - b39ff20c635ed4d227bf4a52926afa68f43017ec9c0357daa344e5f575dd4f75
      Authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151210/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=306655b1059612834d32d22021508ef302b194d0a7fba54403afbd309c27eb66
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - ceee2bea-824b-50ee-a6e8-650877381e3a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>ceee2bea-824b-50ee-a6e8-650877381e3a</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 10 Dec 2015 03:36:19 GMT
[...]
