- mobile = activity.extra_info[:mobile]
- code = activity.extra_info[:code]
- coupon_title = activity.extra_info[:coupon_title]
div
  |简讯寄送优惠代码成功，手机号码为: #{mobile}  优惠券名称: #{coupon_title}  優惠券代碼: #{code}
