---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetEndpointAttributes&Attributes.entry.1.key=Enabled&Attributes.entry.1.value=true&Attributes.entry.2.key=CustomUserData&Attributes.entry.2.value=device_id%3A10%20updated_at%3A%202015-12-10%2011%3A40%3A47%20%2B0800&EndpointArn=d14a492f0c2133feaba3386e91b92ae8&Timestamp=2015-12-10T03%3A40%3A47Z&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151210T034047Z
      X-Amz-Content-Sha256:
      - d2b23ada227abe1177ba21162aea8fc93a565f62091bc15ef29da5fde01abfd9
      Authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151210/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=67d340726bbd60c1490079993224d3bf4a51c5dae54bdae83cd8cdbaabdf2beb
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - f8910059-a65c-5d98-80c3-4ebb50dcfb7c
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>f8910059-a65c-5d98-80c3-4ebb50dcfb7c</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 10 Dec 2015 03:40:48 GMT
[...]
