---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/x-www-form-urlencoded; charset=utf-8
      x-amz-date:
      - 20151209T060024Z
      x-amz-content-sha256:
      - 151b79e042fa45e12077ab38d25eba0a068b6b51f25b70817603d26a9fa6070e
      authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151209/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=c7ac30c64772ef9dfb077454f5625405de86a6c64178bb156a678bd33d06a076
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      x-amzn-requestid:
      - a29c5693-91ab-5156-bdbc-18725415a839
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>a29c5693-91ab-5156-bdbc-18725415a839</RequestId>
        </ErrorResponse>
  recorded_at: Wed, 09 Dec 2015 06:00:30 GMT
[...]
- request:
    method: post
    uri: http://sdk.open.api.igexin.com/apiex.htm
    body:
      encoding: UTF-8
      string: '{"action":"apnGetContentIdAction","appId":"3T7v1hEqgyAYDwXWwu8gN2","appkey":"XIT32K8Ekx9QNYZa2xDxp8","PI":"WABiMXsiYXBzIjp7ImFsZXJ0IjoiVGVzdCIsInNvdW5kIjoiIiwiZGVlcGxpbmsiOiIifX0=","version":"3.0.0.0"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-language:
      - en-US
      content-type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"result":"ok","contentId":"OSAPNL-1209_pjhmQbZtjr8QpEcd9qU8D8"}'
  recorded_at: Wed, 09 Dec 2015 06:00:31 GMT
- request:
    method: post
    uri: http://sdk.open.api.igexin.com/apiex.htm
    body:
      encoding: UTF-8
      string: '{"action":"apnPushToListAction","appId":"3T7v1hEqgyAYDwXWwu8gN2","appkey":"XIT32K8Ekx9QNYZa2xDxp8","DTL":"47c231ec2b69c3924c3171cd31c9aae1","contentId":"OSAPNL-1209_pjhmQbZtjr8QpEcd9qU8D8","needDetails":true,"version":"3.0.0.0"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-language:
      - en-US
      content-type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"result":"OtherError"}'
  recorded_at: Wed, 09 Dec 2015 06:00:31 GMT
recorded_with: VCR 2.9.3
