---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetEndpointAttributes&Attributes.entry.1.key=Enabled&Attributes.entry.1.value=true&Attributes.entry.2.key=CustomUserData&Attributes.entry.2.value=device_id%3A1%20updated_at%3A%202015-12-11%2016%3A43%3A47%20%2B0800&EndpointArn=c0c137564ca2647bf4707526ffb00c6d&Timestamp=2015-12-11T08%3A43%3A47Z&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151211T084347Z
      X-Amz-Content-Sha256:
      - 27dcd6fc25a56cd89b308bdebf240006a7a351bf542e93f6e9bbfbc5a0b6bee1
      Authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151211/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=f98e3c27421e84331fde5e7b5614264863019248666be026bec0c92b1f245f0b
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - c3a5df95-f11c-53de-aa1f-91717e1fb53a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>c3a5df95-f11c-53de-aa1f-91717e1fb53a</RequestId>
        </ErrorResponse>
  recorded_at: Fri, 11 Dec 2015 08:43:47 GMT
[...]
