- admin_title t('orders.history.page_title'), subtitle: t('orders.history.crumb_order_history', order_no: @order.order_no)

= will_paginate @versions

= render 'admin/shared/paper_trail_list'

= will_paginate @versions
