---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"99.90"}}],"redirect_urls":{"return_url":"https://app.com/callback"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A101.5GjtqIgTz3ERrowwRAhg_TxfP8--mGFlzrtF5S5cgfoANUigyX_qarJiNZwpQGuK.dMU1KCAv3V3hF5QhxYwD4tHMl0m
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 15597fe5-f0fb-4730-a6d9-460b06d64fba
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=427
      Paypal-Debug-Id:
      - 65d7dd405ce61
      - 65d7dd405ce61
      Correlation-Id:
      - 65d7dd405ce61
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"VALIDATION_ERROR","details":[{"field":"redirect_urls.cancel_url","issue":"This
        field required when payment_method is ''paypal''"}],"message":"Invalid request
        - see details","information_link":"https://developer.paypal.com/webapps/developer/docs/api/#VALIDATION_ERROR","debug_id":"65d7dd405ce61"}'
  recorded_at: Thu, 10 Dec 2015 03:52:30 GMT
recorded_with: VCR 2.9.3
