.fb-wrapper
  #fb-root
  .fb-like-box data-colorscheme='light' data-header='true' data-height='300' data-href='#{fanpage_url}' data-show-border='true' data-show-faces='true' data-stream='false' data-width='1100'