---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/x-www-form-urlencoded; charset=utf-8
      x-amz-date:
      - 20151209T031044Z
      x-amz-content-sha256:
      - 8a90e85efb0f3d46c45671812df0c4808659923e27e316ac8ab0fd9420fe6501
      authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151209/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=db318f0e5ddbc62fb6bc61a1250533862e8acb6212a4bfc16a60c0a560c48f66
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      x-amzn-requestid:
      - f3576e4a-ae33-5c1f-995f-20ab33c71ce0
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>f3576e4a-ae33-5c1f-995f-20ab33c71ce0</RequestId>
        </ErrorResponse>
  recorded_at: Wed, 09 Dec 2015 03:10:44 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/x-www-form-urlencoded; charset=utf-8
      x-amz-date:
      - 20151209T031044Z
      x-amz-content-sha256:
      - 8a90e85efb0f3d46c45671812df0c4808659923e27e316ac8ab0fd9420fe6501
      authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151209/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=db318f0e5ddbc62fb6bc61a1250533862e8acb6212a4bfc16a60c0a560c48f66
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      x-amzn-requestid:
      - 7c3fa2dd-7400-51f4-acf3-ec3ce9f5df14
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>7c3fa2dd-7400-51f4-acf3-ec3ce9f5df14</RequestId>
        </ErrorResponse>
  recorded_at: Wed, 09 Dec 2015 03:10:45 GMT
recorded_with: VCR 2.9.3
