---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/x-www-form-urlencoded; charset=utf-8
      x-amz-date:
      - 20151209T031045Z
      x-amz-content-sha256:
      - a6925cf237a0dcc5b998c97a98c4cda54743ff55836058591751949835250dc8
      authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151209/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=500cf9f26f1e450b7c3769b583e64b36a5170336663324c11122a7082b62aae9
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      x-amzn-requestid:
      - 1f4665b4-265d-52ee-8cda-2b55bba86a0d
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>1f4665b4-265d-52ee-8cda-2b55bba86a0d</RequestId>
        </ErrorResponse>
  recorded_at: Wed, 09 Dec 2015 03:10:45 GMT
[...]
- request:
    method: post
    uri: http://sdk.open.api.igexin.com/apiex.htm
    body:
      encoding: UTF-8
      string: '{"action":"getContentIdAction","appkey":"XIT32K8Ekx9QNYZa2xDxp8","clientData":"CgASC3B1c2htZXNzYWdlGgAiFlhJVDMySzhFa3g5UU5ZWmEyeER4cDgqFjNUN3YxaEVxZ3lBWUR3WFd3dThnTjIyADoICgASACICLTFCBwgBEAAYkE5CHgiQThABGJpOogYAqgYAsgYEVGVzdMAGAcgGAdAGAUIICJpOEAAYrk5CGQiuThADGGTiCADqCAYKABIAGgDwCAD4CGRCBAhkEAc=","transmissionContent":"","isOffline":true,"offlineExpireTime":43200000,"pushType":"NotifyMsg","version":"3.0.0.0"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-language:
      - en-US
      content-type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"result":"ok","contentId":"OSL-1209_uaqBGI3tr46Y1Aarz2N3r9"}'
  recorded_at: Wed, 09 Dec 2015 03:10:51 GMT
- request:
    method: post
    uri: http://sdk.open.api.igexin.com/apiex.htm
    body:
      encoding: UTF-8
      string: '{"action":"pushMessageToListAction","appkey":"XIT32K8Ekx9QNYZa2xDxp8","contentId":"OSL-1209_uaqBGI3tr46Y1Aarz2N3r9","needDetails":true,"targetList":[{"appId":"3T7v1hEqgyAYDwXWwu8gN2","clientId":"b597c7ab17ad3ca3b27d142b6e3a451d"}],"type":2,"version":"3.0.0.0"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-language:
      - en-US
      content-type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"result":"TokenMD5NoUsers","details":null}'
  recorded_at: Wed, 09 Dec 2015 03:10:51 GMT
recorded_with: VCR 2.9.3
