---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetEndpointAttributes&Attributes.entry.1.key=Enabled&Attributes.entry.1.value=true&Attributes.entry.2.key=CustomUserData&Attributes.entry.2.value=device_id%3A9%20updated_at%3A%202015-12-10%2011%3A36%3A55%20%2B0800&EndpointArn=a0e04f39444b3f01b03458bde52ee505&Timestamp=2015-12-10T03%3A36%3A55Z&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151210T033655Z
      X-Amz-Content-Sha256:
      - 906b6e4f4d0d8e8d8d56674d0d65454a74abc9a4609ca7ed902b3bd6f197c1fb
      Authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151210/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=13da8a7750d5e3cf75735833c4eeb52167723508ea67e078dea593bc1032d01a
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - 225355d7-5966-58f6-b09c-1b35acfe2199
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>225355d7-5966-58f6-b09c-1b35acfe2199</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 10 Dec 2015 03:36:56 GMT
[...]
