---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetEndpointAttributes&Attributes.entry.1.key=Enabled&Attributes.entry.1.value=true&Attributes.entry.2.key=CustomUserData&Attributes.entry.2.value=device_id%3A2%20updated_at%3A%202015-12-10%2011%3A52%3A44%20%2B0800&EndpointArn=85998430a8df6771f69c5d70111775c8&Timestamp=2015-12-10T03%3A52%3A44Z&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151210T035244Z
      X-Amz-Content-Sha256:
      - 5c8f52be7df253e698b3c097e23e5f3841080bfc69867753f3bd59b4876e58b5
      Authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151210/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=183ae6bc4ae5aea6dd89ecebfd6f0dcfbc501057d00a2648537242898c279cdd
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - 72e5b86a-2d6d-5df4-9692-f688d4218d37
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>72e5b86a-2d6d-5df4-9692-f688d4218d37</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 10 Dec 2015 03:52:44 GMT
[...]
