---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetEndpointAttributes&Attributes.entry.1.key=Enabled&Attributes.entry.1.value=true&Attributes.entry.2.key=CustomUserData&Attributes.entry.2.value=device_id%3A1%20updated_at%3A%202015-12-10%2011%3A52%3A43%20%2B0800&EndpointArn=a360d096d0a2716d45a851463eb86dd1&Timestamp=2015-12-10T03%3A52%3A43Z&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151210T035243Z
      X-Amz-Content-Sha256:
      - 4b5ba1978c4e5af35c37268dfbe6cce3c462ba964c15518f551836a6f73d3c43
      Authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151210/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=9c92b67025146d7dba33b8eeb28fd0106527e61af73272e4b89bdab03294888b
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - 082d1ea4-2671-5f82-86f3-5046df3d1327
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>082d1ea4-2671-5f82-86f3-5046df3d1327</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 10 Dec 2015 03:52:44 GMT
[...]
