---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetEndpointAttributes&Attributes.entry.1.key=Enabled&Attributes.entry.1.value=true&Attributes.entry.2.key=CustomUserData&Attributes.entry.2.value=device_id%3A12%20updated_at%3A%202015-12-10%2011%3A40%3A49%20%2B0800&EndpointArn=4b209eba2a39622d8d7dfd66c72a6174&Timestamp=2015-12-10T03%3A40%3A49Z&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151210T034049Z
      X-Amz-Content-Sha256:
      - 68158769d3dfecceee853d677b5c66003b082917dc228de1d286c351d06bc32e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151210/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=29bf49661045b721b2cb3c6847e415f44b121e5e42c1e4e136a70ca54de90393
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - 92d609bb-92a3-56ab-b3fd-47596422024e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>92d609bb-92a3-56ab-b3fd-47596422024e</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 10 Dec 2015 03:40:49 GMT
[...]
