---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetEndpointAttributes&Attributes.entry.1.key=Enabled&Attributes.entry.1.value=true&Attributes.entry.2.key=CustomUserData&Attributes.entry.2.value=device_id%3A5%20updated_at%3A%202015-12-10%2011%3A36%3A53%20%2B0800&EndpointArn=d7bcb973bf775e1dd31c76c755dd7423&Timestamp=2015-12-10T03%3A36%3A53Z&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151210T033653Z
      X-Amz-Content-Sha256:
      - 73ebb9fbb3c931e270f619ad99a30ae4cad26a729fd6a39bd5c2f4d60d5b15f7
      Authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151210/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=3cb3254c85ab16d0f8abcba6afadf57b0c1a9f7664deb71e70e533f96ac4ac93
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - 17b16aec-bd47-5a25-8df3-240e48d2101d
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>17b16aec-bd47-5a25-8df3-240e48d2101d</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 10 Dec 2015 03:36:53 GMT
[...]
