---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetEndpointAttributes&Attributes.entry.1.key=Enabled&Attributes.entry.1.value=true&Attributes.entry.2.key=CustomUserData&Attributes.entry.2.value=device_id%3A4%20updated_at%3A%202015-12-10%2011%3A36%3A52%20%2B0800&EndpointArn=238bd65301b6c83ffce5949683eb035a&Timestamp=2015-12-10T03%3A36%3A52Z&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151210T033652Z
      X-Amz-Content-Sha256:
      - a0ca8d2838be0b0312d4f442b3d812de13775c43532ce4e84d995de68c8ab06f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151210/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=c2e1596a857be0a846c5716760429de5644c7acfa2a39a34db696cb9330422b3
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - cffc14a9-67c8-51ad-afd3-5a4b925ce319
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>cffc14a9-67c8-51ad-afd3-5a4b925ce319</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 10 Dec 2015 03:36:52 GMT
[...]
