iframe src="https://appetize.io/embed/#{preview_key}?device=#{params[:device]}&scale=50&autoplay=true&orientation=portrait&deviceColor=black&params=#{preview_parmas}" width="#{params[:width]}px" height="#{params[:height]}px" frameborder="0" scrolling="no"
