- work = activity.trackable.order_item.itemable
p
 | 將 #{link_to_admin_work work} 的 PrintItem Id:#{activity.trackable_id} 改變了狀態: #{activity.extra_info[:state_change][0]} -> #{activity.extra_info[:state_change][1]}