---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetEndpointAttributes&Attributes.entry.1.key=Enabled&Attributes.entry.1.value=true&Attributes.entry.2.key=CustomUserData&Attributes.entry.2.value=device_id%3A6%20updated_at%3A%202015-12-10%2011%3A30%3A19%20%2B0800&EndpointArn=36e6feda78e9d0caaea55ef60ff6ab84&Timestamp=2015-12-10T03%3A30%3A19Z&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151210T033019Z
      X-Amz-Content-Sha256:
      - 85e07757fd516f2485d859fc804eb076df3c0f2211a3bda3a5706b02b3619a37
      Authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151210/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=5f995a8e3732208ecceaabd035694d6c68e989251db78bfb2f0d1497adf02875
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - 17f04adf-bc32-59ec-a03a-043d48398352
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>17f04adf-bc32-59ec-a03a-043d48398352</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 10 Dec 2015 03:30:19 GMT
[...]
