---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetEndpointAttributes&Attributes.entry.1.key=Enabled&Attributes.entry.1.value=true&Attributes.entry.2.key=CustomUserData&Attributes.entry.2.value=device_id%3A1%20updated_at%3A%202015-12-10%2011%3A30%3A17%20%2B0800&EndpointArn=33dd82e457a7daa73d9e2ef47aae60da&Timestamp=2015-12-10T03%3A30%3A17Z&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151210T033017Z
      X-Amz-Content-Sha256:
      - f2810fa3740c014721e3f8b6296a4c718bf401bf4a703426502a01afdb177bd6
      Authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151210/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=b3406bbbd0471d4b46deead4ddaaac1d8acf826b75097a047fcd493a7790f6bf
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - 7a333fe4-cbc6-5991-964d-71063fcfe755
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>7a333fe4-cbc6-5991-964d-71063fcfe755</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 10 Dec 2015 03:30:17 GMT
[...]
