/* line 1, ../../../stylesheets/admin/v2/coupons.scss */
.coupon-filters {
  width: 100%; }

/* line 5, ../../../stylesheets/admin/v2/coupons.scss */
.coupon-search {
  padding: 10px 0; }
  /* line 7, ../../../stylesheets/admin/v2/coupons.scss */
  .coupon-search input.form-control {
    height: 42px;
    width: 500px;
    margin-right: 10px; }

/* line 14, ../../../stylesheets/admin/v2/coupons.scss */
.select-group {
  display: inline-block; }
  /* line 16, ../../../stylesheets/admin/v2/coupons.scss */
  .select-group .used-value {
    height: 30px;
    margin-bottom: 2px;
    vertical-align: middle; }

/* line 23, ../../../stylesheets/admin/v2/coupons.scss */
.children-display {
  color: #428bca;
  cursor: pointer; }

/* line 28, ../../../stylesheets/admin/v2/coupons.scss */
select:disabled {
  background-color: #eee; }

/* line 32, ../../../stylesheets/admin/v2/coupons.scss */
.couponUsed {
  color: #961010; }
