td= report.date
td= report.order_total
td= report.order_item_total
td= report.user_total
td= report.price_total
td= report.coupon_price_total
td= report.shipping_fee_total
td= report.order_price_total
td= report.avg_order_price
td= report.avg_per_user_price