---
http_interactions:
- request:
    method: post
    uri: https://collector.newrelic.com/agent_listener/12//get_redirect_host?marshal_format=json
    body:
      encoding: UTF-8
      string: "[]"
    headers:
      content-type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"exception":{"message":"Invalid license key, please contact support@newrelic.com","error_type":"NewRelic::Agent::LicenseException"}}'
  recorded_at: Thu, 30 Oct 2014 09:59:40 GMT
- request:
    method: post
    uri: https://ATqzAhBOpH7HX6JSJfd0iiLwxV-NY6Q_dkgPJ3vWiZjduwozYhZW6QKTGPdV:ECLwyBDuAXKH2uAy5thfqnJa2SsTtc5S208TWcvLbuK3xfD5r_O3OX8HY4PS@api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
      authorization:
      - Basic QVRxekFoQk9wSDdIWDZKU0pmZDBpaUx3eFYtTlk2UV9ka2dQSjN2V2laamR1d296WWhaVzZRS1RHUGRWOkVDTHd5QkR1QVhLSDJ1QXk1dGhmcW5KYTJTc1R0YzVTMjA4VFdjdkxidUszeGZENXJfTzNPWDhIWTRQUw==
  response:
    status:
      code: 200
      message: OK
    headers:
      proxy_server_info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=11035
      paypal-debug-id:
      - f5bbe9d0f5f43
      server_info:
      - identitysecuretokenserv:v1.oauth2.token&CalThreadId=5508&TopLevelTxnStartTime=149607f0f40&Host=slcsbidensectoken501.slc.paypal.com&pid=8205
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/subscriptions https://api.paypal.com/v1/payments/.*
        https://api.paypal.com/v1/vault/credit-card https://uri.paypal.com/services/applications/webhooks
        openid https://uri.paypal.com/services/invoicing https://api.paypal.com/v1/vault/credit-card/.*","access_token":"A015Wlb5oodACk0dSLpZc4hcMuOPoJnMSQ-5AD5PyJIJUUs","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":28800}'
  recorded_at: Thu, 30 Oct 2014 09:59:40 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"99.90"}}],"redirect_urls":{"return_url":"http://test.host/zh/payment/paypal/callback?order_no=14AU000110TW","cancel_url":"http://test.host/zh/cart"}}'
    headers:
      x-paypal-sandbox-email-address:
      - Platform.sdk.seller@gmail.com
      authorization:
      - Bearer A015Wlb5oodACk0dSLpZc4hcMuOPoJnMSQ-5AD5PyJIJUUs
      content-type:
      - application/json
      paypal-request-id:
      - 42f492a6-6526-473d-95c6-542050ca32ad
  response:
    status:
      code: 201
      message: Created
    headers:
      proxy_server_info:
      - host=slcsbjava1.slc.paypal.com;threadId=14570
      paypal-debug-id:
      - 209aefddf70bd
      server_info:
      - paymentsplatformserv:v1.payments.payment&CalThreadId=35309&TopLevelTxnStartTime=149607f14ea&Host=slcsbpaymentsplatformserv3002.slc.paypal.com&pid=17070
      content-language:
      - "*"
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-6H01996293430963CKRJAYDI","create_time":"2014-10-30T09:59:41Z","update_time":"2014-10-30T09:59:41Z","state":"created","intent":"sale","payer":{"payment_method":"paypal","payer_info":{"shipping_address":{}}},"transactions":[{"amount":{"total":"99.90","currency":"USD","details":{"subtotal":"99.90"}},"related_resources":[]}],"links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-6H01996293430963CKRJAYDI","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-7JF63044ET518931P","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-6H01996293430963CKRJAYDI/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Thu, 30 Oct 2014 09:59:42 GMT
recorded_with: VCR 2.9.2
