.add-margin {
  margin-bottom: 10px;
}

.read-only {
  background-color: #EEE;
}

.form-inline .noti-country {
  margin-bottom: 10px;
  min-width: 200px;
}

.noti-infobox-fixed {
  margin-top: 50px;
  height: auto;
  width: 250px;
  padding: 10px 15px; 
}

.noti-input-fixed {
  margin-top: 10px;
}

.noti-notice {
  margin-top: 12px;
  margin-left: 10px;
}