.show-order-item {
  min-width: 360px;
  td, td {
    width: 120px;
    text-align: center;
  }
}

.unapproved-results {
  ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }
  .order-info {
    max-width: 250px;
    line-height: 2em;
    span.info {
      font-weight: bold;
      font-size: 13px;
    }
  }
}

.show-notes {
  width: 360px;
  td, th {
    width: 30%;
    word-break: break-all;
  }
  .msg {
    width: 45%;
  }
}