---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/x-www-form-urlencoded; charset=utf-8
      x-amz-date:
      - 20151117T115350Z
      x-amz-content-sha256:
      - bfc88bdbad8e2237f9b64d91693ebd08a75a3275031573dbd4dcb51abf03fec2
      authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIWNLFSBA7WPEVK7Q/20151117/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=f68160e9a6225d21516469492afeb7424a3a29fa9bbc14d0d1414fe5fe0b5861
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      x-amzn-requestid:
      - 18211315-b749-5be9-a7ef-5dd0a0c62157
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidParameter</Code>
            <Message>Invalid parameter: EndpointArn Reason: ba0b4c868992df6bd0a2bdee1ed9e024 does not start with arn</Message>
          </Error>
          <RequestId>18211315-b749-5be9-a7ef-5dd0a0c62157</RequestId>
        </ErrorResponse>
  recorded_at: Tue, 17 Nov 2015 11:53:51 GMT
recorded_with: VCR 2.9.2
