---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/x-www-form-urlencoded; charset=utf-8
      x-amz-date:
      - 20151209T060315Z
      x-amz-content-sha256:
      - fa5e1025014dc31c992263aea45d7fbdb444ea0867dbc00fc0a419f8e07c730d
      authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151209/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=29815e2441e05b623793229173d04dcfa929aac15b2c7553d4be3bd5b84892c1
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      x-amzn-requestid:
      - 39742b2b-0e5d-5b12-be5f-65cac839cbe1
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>39742b2b-0e5d-5b12-be5f-65cac839cbe1</RequestId>
        </ErrorResponse>
  recorded_at: Wed, 09 Dec 2015 06:03:16 GMT
[...]
- request:
    method: post
    uri: http://sdk.open.api.igexin.com/apiex.htm
    body:
      encoding: UTF-8
      string: '{"action":"apnPushToSingleAction","appId":"3T7v1hEqgyAYDwXWwu8gN2","appkey":"XIT32K8Ekx9QNYZa2xDxp8","DT":"d5b832c7c89d1b5bbbc56449ee67ce8b","PI":"WABiMXsiYXBzIjp7ImFsZXJ0IjoiVGVzdCIsInNvdW5kIjoiIiwiZGVlcGxpbmsiOiIifX0=","version":"3.0.0.0"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-language:
      - en-US
      content-type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"result":"DeviceTokenError"}'
  recorded_at: Wed, 09 Dec 2015 06:03:17 GMT
recorded_with: VCR 2.9.3
