// Color settings
$main-color: #4FBD92;
$top-bgcolor: #4FBC92;

$header-height: 50px;

@import "compass";
@import "beta/slick";

body {
  margin: 0;
}

.img_full_width {
  width: 100%
}
.font-neue {
  font-family: "Helvetica Neue";
  font-weight: 500;
}

.font-neue-light {
  font-family: "Helvetica Neue";
  font-weight: 400;
}

.header-height {
  height: $header-height;
}
.app-top {
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  @extend .header-height;
  @extend .font-neue-light;
  font-size: 17px;
  color: white;
  background-color: $top-bgcolor;
  line-height:  50px;
  text-align: center;
}

.leftnavs {
  @extend .header-height;
  position: fixed;
  top: 5px;
  left: 15px;
  font-size: 20px;
  line-height: 50px;
  z-index: 10;
}

#fix-header {
  @extend .header-height;
}
.event_list {
  background-color: #F6F7FB;
  padding-top: 12px;
  height: 100%;
  .event_block {
    margin: 0px 12px 12px 12px;
    .banner img {
      height: 200px;
      width: 100%;
    }
    .title {
      height: 50px;
      line-height: 50px;
      margin: auto;
      padding: 0 12px;
      background-color: #FFFFFF;
      font-size: 21px;
      color: #333333;
      @extend .font-neue-light;
      text-decoration: none;

      span.coming_soon {
        float: right;
        border: 1px solid #4FBD92;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        height: 23px;
        line-height: 23px;
        margin-top: 12px;
        color: #4FBD92;
        font-size: 14px;
        padding: 0 3px;
      }
    }
  }
}

.event_page {
  position: fixed;
  top: $header-height;
  right: -100%;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #FFF;

  z-index: 1;

  /* 動畫效果 */
  -webkit-transition:all 0.5s;
     -moz-transition:all 0.5s;
       -o-transition:all 0.5s;
          transition:all 0.5s;

  /* 透明 */
  opacity: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .kv_images {
    height: 150px;
  }
}

.event_page.show {
  right: 0;

  /* 透明度可見 */
  opacity: 1
}
