/* line 1, ../../stylesheets/mobile/redeems.css.scss */
.event-list {
  padding: 3px 2px 1px 2px;
  overflow: auto; }

/* line 6, ../../stylesheets/mobile/redeems.css.scss */
.event-list-full {
  margin: 0 10px;
  padding-top: 10px; }
  /* line 9, ../../stylesheets/mobile/redeems.css.scss */
  .event-list-full .event-banner img {
    width: 100%;
    border-radius: 5px 5px 0 0; }
  /* line 14, ../../stylesheets/mobile/redeems.css.scss */
  .event-list-full .event-block .event-info {
    background-color: #FFFFFF;
    padding: 10px;
    line-height: 20px; }
  /* line 19, ../../stylesheets/mobile/redeems.css.scss */
  .event-list-full .event-block .event-goto {
    float: right; }
    /* line 21, ../../stylesheets/mobile/redeems.css.scss */
    .event-list-full .event-block .event-goto img {
      width: 20px; }

/* line 28, ../../stylesheets/mobile/redeems.css.scss */
.event-list-half {
  float: left;
  margin: 0;
  width: 50%;
  min-width: 152px; }
  /* line 33, ../../stylesheets/mobile/redeems.css.scss */
  .event-list-half .event-block {
    margin: 3px; }
    /* line 35, ../../stylesheets/mobile/redeems.css.scss */
    .event-list-half .event-block .event-banner {
      text-align: center;
      overflow: hidden;
      margin-bottom: -2px; }
      /* line 39, ../../stylesheets/mobile/redeems.css.scss */
      .event-list-half .event-block .event-banner img {
        width: 100%;
        border-radius: 2px 2px 0 0; }
    /* line 44, ../../stylesheets/mobile/redeems.css.scss */
    .event-list-half .event-block .event-info {
      background-color: #FFFFFF;
      padding: 10px;
      border-radius: 0 0 3px 3px;
      height: 90px; }
    /* line 50, ../../stylesheets/mobile/redeems.css.scss */
    .event-list-half .event-block .event-title {
      height: 40px;
      line-height: 20px;
      overflow: hidden; }
    /* line 55, ../../stylesheets/mobile/redeems.css.scss */
    .event-list-half .event-block .event-goto {
      margin-top: 10px;
      text-align: center; }
      /* line 58, ../../stylesheets/mobile/redeems.css.scss */
      .event-list-half .event-block .event-goto img {
        width: 20px;
        vertical-align: middle;
        margin-left: 5px;
        margin-bottom: 2px; }
      /* line 64, ../../stylesheets/mobile/redeems.css.scss */
      .event-list-half .event-block .event-goto .btn {
        text-decoration: none;
        background-color: #4FBD92;
        color: #FFF;
        padding: 0;
        line-height: 40px;
        height: 40px;
        width: 100%;
        font-size: 1em;
        border-radius: 3px;
        min-width: 110px; }
        /* line 75, ../../stylesheets/mobile/redeems.css.scss */
        .event-list-half .event-block .event-goto .btn span {
          color: #FFF; }
        /* line 78, ../../stylesheets/mobile/redeems.css.scss */
        .event-list-half .event-block .event-goto .btn:hover {
          color: #FFF; }

/* line 86, ../../stylesheets/mobile/redeems.css.scss */
.redeem-ticker {
  text-align: center;
  line-height: 30px;
  background-color: #455055;
  color: #FFF; }

/* line 93, ../../stylesheets/mobile/redeems.css.scss */
.redeem-kv {
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: -1; }
  /* line 98, ../../stylesheets/mobile/redeems.css.scss */
  .redeem-kv img {
    width: 100%; }

/* line 102, ../../stylesheets/mobile/redeems.css.scss */
.redeem-path {
  padding-top: 5px;
  position: absolute;
  right: 10px;
  background: url('/images/mobile/redeem/path.png?1476379220') top no-repeat;
  height: 56px;
  width: 40px; }
  /* line 109, ../../stylesheets/mobile/redeems.css.scss */
  .redeem-path a {
    color: #FFF;
    font-size: 14px;
    line-height: 17px; }

/* line 116, ../../stylesheets/mobile/redeems.css.scss */
.event-desc {
  padding-bottom: 10px; }
  /* line 118, ../../stylesheets/mobile/redeems.css.scss */
  .event-desc .event-desc-title {
    padding-left: 12px;
    color: #4FBD92;
    font-size: 17px;
    height: 50px;
    line-height: 50px;
    border-bottom: #e6e6e6 1px solid; }
  /* line 126, ../../stylesheets/mobile/redeems.css.scss */
  .event-desc .event-desc-content {
    padding: 12px;
    color: #999999;
    font-size: 17px;
    line-height: 22px; }

/* line 134, ../../stylesheets/mobile/redeems.css.scss */
.event-success {
  margin-top: 50%;
  text-align: center; }
  /* line 137, ../../stylesheets/mobile/redeems.css.scss */
  .event-success .success-wording {
    color: #999; }

/* line 142, ../../stylesheets/mobile/redeems.css.scss */
.redeem-check-out {
  background-color: #F5F5F5;
  color: #999;
  height: 50px;
  font-family: "Helvetica Neue";
  font-weight: 200;
  font-size: 17px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  padding-left: 10px; }

/* line 154, ../../stylesheets/mobile/redeems.css.scss */
#redeem-valid-error-ticker {
  background-color: #516A84;
  position: fixed;
  bottom: 70px;
  width: 100%; }

/* line 161, ../../stylesheets/mobile/redeems.css.scss */
.redeem-coupon-form {
  background-color: white;
  width: 100%;
  box-sizing: border-box; }
  /* line 166, ../../stylesheets/mobile/redeems.css.scss */
  .redeem-coupon-form .form-group {
    border-bottom: 1px solid #ccc; }
    /* line 168, ../../stylesheets/mobile/redeems.css.scss */
    .redeem-coupon-form .form-group .input-group-btn {
      position: relative;
      white-space: nowrap;
      padding-left: 10px; }
  /* line 175, ../../stylesheets/mobile/redeems.css.scss */
  .redeem-coupon-form #redeem-code {
    background-color: #F6F7FB;
    display: inline-block;
    width: 100%; }
    /* line 179, ../../stylesheets/mobile/redeems.css.scss */
    .redeem-coupon-form #redeem-code input {
      font-size: 21px;
      border-width: 0px;
      float: left;
      padding: 0 0 0 10px;
      -webkit-appearance: none;
      border-radius: 0px;
      border-right: 0;
      height: 60px;
      margin: 5px 0 5px 5px;
      width: 75%; }
    /* line 192, ../../stylesheets/mobile/redeems.css.scss */
    .redeem-coupon-form #redeem-code input.redeem-valid-error {
      border: red 1px solid; }
    /* line 196, ../../stylesheets/mobile/redeems.css.scss */
    .redeem-coupon-form #redeem-code button.redeem-valid-error {
      background-color: red; }
    /* line 200, ../../stylesheets/mobile/redeems.css.scss */
    .redeem-coupon-form #redeem-code #redeem_input::-webkit-search-cancel-button {
      position: relative;
      right: 20px; }
    /* line 204, ../../stylesheets/mobile/redeems.css.scss */
    .redeem-coupon-form #redeem-code .redeem-valid-success {
      background: #4ebd92 url('/images/mobile/redeem/btn_success_logo.png?1476379220') no-repeat center center; }
  /* line 209, ../../stylesheets/mobile/redeems.css.scss */
  .redeem-coupon-form button.redeem-coupon-valide {
    text-decoration: none;
    font-size: 21px;
    height: 70px;
    color: white;
    float: right;
    width: 23%;
    text-align: center;
    background-color: #4ebd92;
    border-style: none;
    padding-bottom: 2px;
    position: relative; }
    /* line 221, ../../stylesheets/mobile/redeems.css.scss */
    .redeem-coupon-form button.redeem-coupon-valide span {
      color: #FFF; }
  /* line 226, ../../stylesheets/mobile/redeems.css.scss */
  .redeem-coupon-form .disabled {
    opacity: 0.5; }
  /* line 230, ../../stylesheets/mobile/redeems.css.scss */
  .redeem-coupon-form ::-webkit-input-placeholder {
    color: #ccc; }
  /* line 234, ../../stylesheets/mobile/redeems.css.scss */
  .redeem-coupon-form ::-moz-placeholder {
    color: #ccc; }

/* line 239, ../../stylesheets/mobile/redeems.css.scss */
#redeem-shipping-info {
  background-color: white;
  width: 100%;
  box-sizing: border-box; }
  /* line 243, ../../stylesheets/mobile/redeems.css.scss */
  #redeem-shipping-info .form-group {
    height: 50px;
    border-bottom: 1px solid #ccc; }
  /* line 248, ../../stylesheets/mobile/redeems.css.scss */
  #redeem-shipping-info .form-valid-error {
    border-color: red; }
    /* line 250, ../../stylesheets/mobile/redeems.css.scss */
    #redeem-shipping-info .form-valid-error span {
      color: red;
      line-height: 50px;
      position: absolute;
      right: 20px; }
  /* line 258, ../../stylesheets/mobile/redeems.css.scss */
  #redeem-shipping-info label {
    font-family: "Helvetica Neue";
    font-weight: 200;
    font-size: 17px;
    color: #999;
    float: left;
    width: 20%;
    height: 100%;
    padding-left: 10px;
    line-height: 50px;
    letter-spacing: 0.8px;
    text-align: left;
    display: inline-block;
    overflow: hidden; }
  /* line 274, ../../stylesheets/mobile/redeems.css.scss */
  #redeem-shipping-info input, #redeem-shipping-info select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    background-color: white;
    font-family: "Helvetica Neue";
    font-weight: 200;
    font-size: 17px;
    line-height: 50px;
    letter-spacing: 0.8px;
    float: right;
    width: 75%;
    height: 100%;
    padding: 0px;
    text-align: left;
    border-width: 0px;
    display: inline-block; }
  /* line 294, ../../stylesheets/mobile/redeems.css.scss */
  #redeem-shipping-info .shipping-info-valid-error {
    border: 1px solid red; }
  /* line 298, ../../stylesheets/mobile/redeems.css.scss */
  #redeem-shipping-info ::-webkit-input-placeholder {
    color: #ccc; }
  /* line 302, ../../stylesheets/mobile/redeems.css.scss */
  #redeem-shipping-info ::-moz-placeholder {
    color: #ccc; }

/* line 307, ../../stylesheets/mobile/redeems.css.scss */
.footer-like, .footer-button {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #4ebd92;
  font-size: 17px;
  font-family: "Helvetica Neue";
  font-weight: 200;
  color: white;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  border-style: none; }
  /* line 320, ../../stylesheets/mobile/redeems.css.scss */
  .footer-like span, .footer-button span {
    color: #FFF; }

/* line 326, ../../stylesheets/mobile/redeems.css.scss */
.coupon_desc img {
  width: 100%; }

/* line 332, ../../stylesheets/mobile/redeems.css.scss */
.mobile.redeems .bottom-placeholder {
  height: 50px; }
