---
http_interactions:
- request:
    method: post
    uri: https://collector.newrelic.com/agent_listener/12//get_redirect_host?marshal_format=json
    body:
      encoding: UTF-8
      string: "[]"
    headers:
      content-type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: '{"exception":{"message":"Unknown license key","error_type":"NewRelic::Agent::LicenseException"}}'
  recorded_at: Fri, 23 Jan 2015 02:55:17 GMT
- request:
    method: post
    uri: https://ATqzAhBOpH7HX6JSJfd0iiLwxV-NY6Q_dkgPJ3vWiZjduwozYhZW6QKTGPdV:ECLwyBDuAXKH2uAy5thfqnJa2SsTtc5S208TWcvLbuK3xfD5r_O3OX8HY4PS@api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
      authorization:
      - Basic QVRxekFoQk9wSDdIWDZKU0pmZDBpaUx3eFYtTlk2UV9ka2dQSjN2V2laamR1d296WWhaVzZRS1RHUGRWOkVDTHd5QkR1QVhLSDJ1QXk1dGhmcW5KYTJTc1R0YzVTMjA4VFdjdkxidUszeGZENXJfTzNPWDhIWTRQUw==
  response:
    status:
      code: 200
      message: OK
    headers:
      proxy_server_info:
      - host=slcsbplatformapiserv3001.slc.paypal.com;threadId=422818
      paypal-debug-id:
      - 47115ecc9f73f
      server_info:
      - identitysecuretokenserv:v1.oauth2.token&CalThreadId=560391&TopLevelTxnStartTime=14b14b7154a&Host=slcsbidensectoken501.slc.paypal.com&pid=6799
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/subscriptions https://api.paypal.com/v1/payments/.*
        https://api.paypal.com/v1/vault/credit-card https://uri.paypal.com/services/applications/webhooks
        openid https://uri.paypal.com/services/invoicing https://api.paypal.com/v1/vault/credit-card/.*","access_token":"A015okIqmv2VukD4JYLXV8PK9KQbG7O38FXZ5m.1ZwiC5fI","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":28800}'
  recorded_at: Fri, 23 Jan 2015 02:55:18 GMT
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/payments/payment/blah
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-paypal-sandbox-email-address:
      - Platform.sdk.seller@gmail.com
      authorization:
      - Bearer A015okIqmv2VukD4JYLXV8PK9KQbG7O38FXZ5m.1ZwiC5fI
      content-type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      proxy_server_info:
      - host=slcsbplatformapiserv3001.slc.paypal.com;threadId=422818
      paypal-debug-id:
      - 843b73039f9d0
      server_info:
      - paymentsplatformserv:v1.payments.payment&CalThreadId=251032&TopLevelTxnStartTime=14b14b71bf3&Host=slcsbpaymentsplatformserv3002.slc.paypal.com&pid=12904
      content-language:
      - "*"
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"INVALID_RESOURCE_ID","message":"The requested resource ID
        was not found","information_link":"https://developer.paypal.com/webapps/developer/docs/api/#INVALID_RESOURCE_ID","debug_id":"843b73039f9d0"}'
  recorded_at: Fri, 23 Jan 2015 02:55:19 GMT
recorded_with: VCR 2.9.2
