/* line 1, ../../stylesheets/campaign/2015merryxmas.scss */
.merryxmas-block2 {
  background: url('/images/campaign/merryxmas/images/bg2.png?1476379220');
  height: 680px; }
  /* line 5, ../../stylesheets/campaign/2015merryxmas.scss */
  .merryxmas-block2 .item-title {
    color: #FFF;
    margin-top: 90px;
    font-weight: 400;
    text-align: center; }
  /* line 12, ../../stylesheets/campaign/2015merryxmas.scss */
  .merryxmas-block2 .merryxmas-vidoe {
    margin: 60px auto;
    text-align: center; }
  /* line 16, ../../stylesheets/campaign/2015merryxmas.scss */
  .merryxmas-block2 span.yellow {
    color: #fdea16; }

/* line 21, ../../stylesheets/campaign/2015merryxmas.scss */
.m-merryxmas-block2 {
  background: url('/images/campaign/merryxmas/images/bg2.png?1476379220'); }
