---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetEndpointAttributes&Attributes.entry.1.key=Enabled&Attributes.entry.1.value=true&Attributes.entry.2.key=CustomUserData&Attributes.entry.2.value=device_id%3A3%20updated_at%3A%202015-12-10%2011%3A43%3A07%20%2B0800&EndpointArn=049a139b673b742f9b56a869eda7e488&Timestamp=2015-12-10T03%3A43%3A07Z&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151210T034307Z
      X-Amz-Content-Sha256:
      - 033df7e8f5a90fdf63a748f67e5818d2513c63c2e7c0009d224a5f81e73cbfc5
      Authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151210/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=b68210ece346cd0076abbeb104b6406396203c8ef337d6ca432457a64c21107f
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - f3f1cc8d-640a-5101-b0aa-826f9301d9e2
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>f3f1cc8d-640a-5101-b0aa-826f9301d9e2</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 10 Dec 2015 03:43:07 GMT
[...]
