---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetEndpointAttributes&Attributes.entry.1.key=Enabled&Attributes.entry.1.value=true&Attributes.entry.2.key=CustomUserData&Attributes.entry.2.value=device_id%3A2%20updated_at%3A%202015-12-10%2011%3A43%3A05%20%2B0800&EndpointArn=c3173c4d8602fbc649f9506a884e5545&Timestamp=2015-12-10T03%3A43%3A05Z&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151210T034305Z
      X-Amz-Content-Sha256:
      - 6407f88553b8f86513eb69748a2973ddf423dbece58db45906dc9fe15587a366
      Authorization:
      - AWS4-HMAC-SHA256 Credential=blah/20151210/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=55db1d0771d9de9f872a7d45372a3f3100add427fca21535588a7b8172ce7c2d
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - 51529332-d45a-599a-9268-ddd02353769a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid.</Message>
          </Error>
          <RequestId>51529332-d45a-599a-9268-ddd02353769a</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 10 Dec 2015 03:43:05 GMT
[...]
